@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h3>Search Database by keyword</h3>
<form asp-action="SearchbyKeyword">
    <p>Keyword</p>

    <input name="keyword" type="text" required />
    <br />

    <input type="submit" />
</form>



<h3>Movie Search by Title</h3>
<form asp-action="MovieSearch">
    <p>title</p>
    <input name="title" type="text" required />
    <br />

    <input type="submit" />
</form>

<h3>Movie Night</h3>
<form asp-action="MovieNight">
    <p>Pick 3 movie titles out of the database</p>

    <p>title1</p>
    <input name="title1" type="text" required />
    <br />
    <p>title2</p>
    <input name="title2" type="text" required />
    <br />
    <p>title3</p>
    <input name="title3" type="text" required />
    <br />

    <input type="submit" />
</form>