@model Movie

        

<div class="container-fluid">

    <div class=".row">
        <p> @Model.Title</p>
        <p> @Model.Actors</p>
        <p> @Model.Director</p>
        <img src="@Model.Poster" />
    </div>
    </div> 